nav.iconav
    a.iconav-brand(href='../')
        span.icon.iconav-brand-icon
            img(src="images/spark-logo-trademark.png",style="width: 57px; height: 30px;")
    .iconav-slider
        ul.nav.nav-pills.iconav-nav
            li
                a(href='../')
                    span.icon.icon-bar-graph
                    small.iconav-nav-label.visible-xs-block Spark Viz